*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: verdana;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.celular img{
    width: 50rem;
}

.continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 35rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;  
    width: 100%;
    padding: 1.4rem 0;    
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 20rem;
}

.instalogo{
    height: 3rem;
}

.fotoperfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.fotoperfil img {
    height: 6rem;
}

.login {
    background-color: #0095f6;
    color: ivory;
    padding: 8px;
    border-radius: 4px;
}

.logout {
    color: #0095f6;
    margin: 1rem;
}

.notaccount {
    color: rgb(160, 160, 160);
}

.linkblue {
    color: #0095f6;
}

.gettheapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;    
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.appdownload {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.appdownload:nth-child(1) {
    background-image: url("./appstore.png");
}

.appdownload:nth-child(2) {
    background-image: url("./googleplay.png");
}


@media (max-width: 1024px) {
    .todo {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .todo {
        width: 90%;
    }
    
    .celular {
        display: none;
    }

    .continue {
        width: 100%;
    }
}

